// VAR 
$catalog_width: 100% - $left_sidebar_width - 5%;
$catalog_margin: (100% - $catalog_width - $left_sidebar_width)/2 - $left_sidebar_margin; //MARGIN FOR CATALOG FOR BOTH SIDES ADD RIGHT_SIDEBAR IF NEEDED
$catalog_padding: 5px; //ALL CATALOG PADDING
// ITEM 3 BLOCKS - ITEM - THE WRAP; ITEM_CONTENT - THE CONTENT AND HOVER_BLOCK - REST OF CONTENT ON HOVER
$catalog_item_width: 235px;
$catalog_item_padding: 19px 18px 0px 18px; //ITEM CONTENT PADDING
$catalog_item_color: #fff;//ITEM BACKGROUND
// $catalog_item_border: solid 1px #e6e8e9;//ITEM BORDER UNCOMMENT IF NEEDED
$catalog_item_hover_shadow: 2px 1px 10px 3px rgba(250, 250, 250, 250);
$catalog_item_code_color: lighten($main_black, 30%);
$catalog_item_buy_block_width: $catalog_item_width - 40px; //195px
$catalog_item_img_width: 192px; //ITEM IMAGE WIDTH
$catalog_item_img_height: 131px; //ITEM IMAGE HEIGHT
$catalog_buy_btn_color: red;

.catalog_blocks {
	width: $catalog_inline_width;
	display: inline-block;
	float: right;
	vertical-align: middle;
	margin: auto $catalog_margin auto $catalog_margin;
	// overflow: auto;
	padding: $catalog_padding;
	font-size: 14px;
}
.items_list {
	padding: 0;
	list-style: none;
	margin: 0;
}
.item {
	margin-right: 0;
	font-size: 14px;
	float: left;
	width: $catalog_item_width;
	margin-right: 13px;
	margin-bottom: 13px;
	background-color: $catalog_item_color;
	// border: $catalog_item_border;
}
.item_content {
	width: $catalog_item_width;
	padding: $catalog_item_padding;
	position: relative;
	z-index: 0;
	// width: 227px;
	&:hover {
		z-index: 100;
		border-top: 1px solid #f0f0f0;
		border-left: 1px solid #f0f0f0;
		border-right: 1px solid #f0f0f0;
		border-bottom: none;
		margin: -1px -1px 0 -1px;
		@include box-shadow($catalog_item_hover_shadow);
		.hover_block {
			z-index: 200;
			display: block;
		}
	}
}
.img_link {
	display: block;
	text-decoration: none;
	position: relative;
	z-index: 0;
	margin-bottom: 5px;
	img {
		max-width: $catalog_item_img_width;
		max-height: $catalog_item_img_height;
	}
}
.item_description {
	height: 80px
}
.item_title {
	margin-bottom: 5px;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	height: 36px;
}
.item_code {
	font-size: 11px;
	color: $catalog_item_code_color;
}
.delivery_time {
	text-align: left;
	height: 17px;
	display: inline-block;
	padding-top: 6px;
	font-size: 12px;
	color: #000;
}
.delivery_text {
	float: left;
	margin-right: 13px;
}
.delivery_icon {
	display: inline-block;
	margin-top: -1px;
	position: absolute;
}
.buy_block {
	width: $catalog_item_buy_block_width;
	margin: 11px 0 5px 0px;
}
.price_block {
	display: inline-block;
	font: bold 22px Arial, Helvetica, sans-serif;
	color: lighten($main_black, 20%); //#595959;
	line-height: 29px;
}
.buy_button {
	float: right;
}
.buy_btn {
	width: $catalog_item_buy_block_width - 120px; // 75px;
	height: 29px;
	float: right;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	position: relative;
	border-radius: 4px;
	background: $catalog_buy_btn_color;
	&:hover {
		background-color: darken($catalog_buy_btn_color, 12%);
		color: lighten($main_black, 10%);
	}
	// background-image: -moz-linear-gradient(top, #e31837 0%, #f03048 41%, #f3364c 50%, #f03048 61%, #e41938 100%);
	// background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e31837), color-stop(41%,#f03048), color-stop(50%,#f3364c), color-stop(61%,#f03048), color-stop(100%,#e41938));
	// background-image: -webkit-linear-gradient(top, #e31837 0%,#f03048 41%,#f3364c 50%,#f03048 61%,#e41938 100%);
	// background-image: -o-linear-gradient(top, #e31837 0%,#f03048 41%,#f3364c 50%,#f03048 61%,#e41938 100%);
	// background-image: -ms-linear-gradient(top, #e31837 0%,#f03048 41%,#f3364c 50%,#f03048 61%,#e41938 100%);
	// background-image: linear-gradient(to bottom, #e31837 0%,#f03048 41%,#f3364c 50%,#f03048 61%,#e41938 100%);
	vertical-align: middle;
}
.hover_block {
	z-index: 10;
	font: normal 12px $main_font;
	display: none;
	position: relative;
	top: -1px;
	height: 0;
}
.item_more_info {
	padding: 4px 15px 10px 15px;
	margin: 0 -1px 0 2px;
	position: absolute;
	left: -21px;
	top: 0px;
	border-bottom: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	border-top: none;
	@include box-shadow($catalog_item_hover_shadow);
	position: relative;
	z-index: 0;
	zoom: 1;
	width: $catalog_item_width;
	background-color: white;
}
.content {
	line-height: 15px;
	width: $catalog_item_width - 30px;
}
.params {
	color: lighten($main_black, 20%);
	font-size: 12px;
	text-align: left;
	padding: 10px 3px 4px 3px;
	border-top: 1px solid #f0f0f0;

}


















