.catalog_inline {
	width: $catalog_inline_width;
	display: inline-block;
	float: right;
	vertical-align: middle;
	margin: auto $catalog_inline_margin auto $catalog_inline_margin;
	overflow: auto;
	padding: $catalog_inline_padding;
}
.item {
	width: 100%;
	max-height: $catalog_inline_item_height;
	min-height: $catalog_inline_item_height;
	padding: $catalog_inline_item_padding;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 5px;
	background: $catalog_inline_item_color;
	@include box-shadow(2px 2px 17px #cecece);//CHANGE COLOR AND PARAMS
}
.item_img_block {
	display: inline-block;
	float: left;
	vertical-align: top;
	overflow: auto;
	max-width: $catalog_inline_item_img_width;
	min-width: $catalog_inline_item_img_width;
	max-height: $catalog_inline_item_img_height;
	margin-top: $catalog_inline_item_img_margint_top;
}
.item_img {
	max-width: $catalog_inline_item_img_width;
	max-height: $catalog_inline_item_img_height;
}
.item_description_block {
	float: left;
	position: relative;
	@include height_overflow(item_title, $catalog_inline_item_title_height, ($catalog_inline_item_title_height* 0,5), #eee, 75%, #eee);
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
}
.item_title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: $catalog_inline_item_title_size;
	max-width: $catalog_inline_item_title_width;
	min-width: $catalog_inline_item_title_width;
	max-height: $catalog_inline_item_title_height;
	min-height: $catalog_inline_item_title_height;
	

}
.item_icons {
	margin-top: 15px;
	margin-bottom: 15px;
}
.item_params {
	font-size: 12px;
	color: $catalog_inline_item_table_color;
	td {
		padding-right: 5px;
		padding-top: 5px;
	}
}
.price_and_add {
	float: right;
	margin-right: 75px;
	overflow: auto;
	padding-top: 10px;
	margin-top: 50px;
}
.item_price_and_proc {
	float: left;
	margin-right: 50px;
	font-size: 18px;
	color: inherit;
	.price, .currency {
		display: inline-block;
	}
}
.item_add {
	float: right;
	text-transform: uppercase;
	margin-top: 15px;
	a {
		background-color: blue;
		border-radius: 5px;
		padding: 10px;
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	i {
		margin-right: 10px;
		vertical-align: middle;
	}
}