@mixin placeholder($color, $font) {
	.form-control::-webkit-input-placeholder {
		color:$color;
		font-family: $font;
	}
	.form-control::-moz-placeholder {
		color: $grey;
		font-family: $font;
	}/* Firefox 19+ */
	.form-control:-moz-placeholder {
		color: $grey;
		font-family: $font;
	}/* Firefox 18- */
	.form-control:-ms-input-placeholder {
		color: $grey;
		font-family: $font;
	}
}
@mixin rotate ($deg) {
	-moz-transform: rotate($deg); /* Для Firefox */
    -ms-transform: rotate($deg); /* Для IE */
    -webkit-transform: rotate($deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate($deg); /* Для Opera */
    transform: rotate($deg);
}
@mixin height_overflow($name, $height, $grad_height, $color, $persentage, $background) {
	.#{$name} {
		overflow:hidden;
		max-height: $height;
		min-height: $height;
		&:before {
			content: "";
		    display: block;
		    position: relative;
		    z-index: 2;
		    height: $grad_height;
		    top: $height - $grad_height;
		    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color $persentage)
		}
		&:hover+.full {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 10;
			background-color: $background;
			height: auto;
			width: auto;
			max-height: initial;
			&:before {
				visibility: hidden;
			}
		}
	}	
	.full:hover {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10;
		background-color: $background;
		height: auto;
		width: auto;
		max-height: initial;
		&:before {
			visibility: hidden;
		}
	}	
}
@mixin long_title_first($width) {
	max-width: $width;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@mixin long_title_second($color, $border_width, $border_color, $border_radius) {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	white-space: nowrap;
	background-color: $color;
	border-radius: $border_radius;
	border: $border_width solid $border_color;
}
@mixin clearfix() {
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
@mixin mediaxs() {
	/*------------------------------------------------
	| For XS (<= 767px):
	------------------------------------------------*/
	@media screen and (max-width: 767px) {
	    
	}
}
@mixin mediasm() {
	/*------------------------------------------------
	| For SM (<= 991px):
	------------------------------------------------*/
	@media screen and (min-width: 768px) and (max-width: 991px) {
	    
	}
}
@mixin mediamd() {
	/*------------------------------------------------
	|  For MD (<= 1199px):
	------------------------------------------------*/
	@media screen and (min-width: 992px) and (max-width: 1199px) {
	    
	}
}
@mixin medialg() {
	/*------------------------------------------------
	|  For LG (> 1200px):
	------------------------------------------------*/
	@media screen and (min-width: 1200px) {
	   
	}
}
// @mixin r_style($width, $height, $border_width, $border_color) {
// 	position: relative;
// 	width: $width;
// 	height: $height;
// 	padding-bottom: 0;
// 	margin: 0 4px 4px 0;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// 	border-right: $border_width solid $border_color;
// 	border-bottom: $border_width solid $border_color;
// 	float: left;
// 	// width: 180px;
// 	padding: 0 10px 1.84615em 4px;
// 	vertical-align: top;
// 	&:hover {
// 		z-index: 3;
// 		position: relative;
// 		width: $width;
// 		height: $height;
// 		padding-bottom: 0;
// 		margin: 0 4px 4px 0;
// 	}
// 	&:before {
// 		.g-i-tile-catalog:before {
// 			content: '';
// 			display: block;
// 			height: 30px;
// 			position: absolute;
// 			left: 0;
// 			right: 0;
// 			bottom: 0;
// 			z-index: 2;
// 			background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, #fff), color-stop(100%, #fff));
// 			background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
// 			background: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
// 			background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
// 			background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 80%, #fff 100%);
// 		}
// 	}
// }