// GENERAL
	$main_font: Arial;

// NAVIGATION
	$navbar-default-bg: green;//NAV BACKGROUND
	$navbar-default-border: yellow;//NAV BORGER
	$navbar-default-brand-color: blue;//BRAND TEXT 
	$navbar-default-brand-hover-color: vlack;//BRAND TEXT HOVER
	$navbar-default-brand-hover-bg: purple;//BRAND BACKGROUND HOVER
	$navbar-default-color: white;//NAV TEXT COLOR
	$navbar-default-link-color: white;//NAV LINK COLOR
	$navbar-default-link-hover-color: purple; //NAV LINK HOVER
	$navbar-default-link-hover-bg: yellow;//NAV BACKGROUND HOVER
	$navbar-default-link-active-color: red;//NAV ACTIVE COLOR
	$navbar-default-link-active-bg: grey;// NAV ACTIVE BACKGROUND
	
	// for disabled
	// $navbar-default-link-disabled-color;
	// $navbar-default-link-disabled-bg;
	// for toggle
	// $navbar-default-toggle-border-color;
	// $navbar-default-toggle-hover-bg;
	// $navbar-default-toggle-icon-bar-bg;

//LOGIN MODAL
	$login_modal_width: auto;//MODAL WIDTH
	$login_modal_height: auto;//MODAL HEIGHT
	$login_modal_background: #cecece;//MODAL BACKGROUND
	$login_modal_padding: 10px 10px 10px 10px;//MODAL PADDING
	$login_modal_font_size: 16px;//MODAL FONT SIZE
	$login_font: sans;//MODAL FONT
	$login_modal_color: #292929; //FONT COLOR
	$login_modal_title_background: #cfcfcf;//TITLE BACKGROUND
	$login_input_w: 400px;//INPUT WIDTH
	$login_input_outline: red;//INPUT OUTLINE

//FOOTER
	$copyright_color: red; //FOOTER COPYRIGHT COLOR

// LEFT_SIDEBAR
	$left_sidebar_width: 260px;//SIDEBAR WIDTH
	$left_sidebar_height: 780px;// SIDEBAR MIN HEIGHT
	$left_sidebar_shadow: 2px 3px 7px #757171; // SIDEBAR BOX SHADOW
	$left_sidebar_border_radius: 5px; // SIDEBAR RADIUS

// RIGHT_SIDEBAR
	$right_sidebar_width: 260px;//SIDEBAR WIDTH
	$right_sidebar_height: 780px;// SIDEBAR MIN HEIGHT
	$right_sidebar_shadow: -2px 3px 7px #757171; // SIDEBAR BOX SHADOW
	$right_sidebar_border_radius: 5px; // SIDEBAR RADIUS	


