/*GENERAL*/
/*HEPLERS*/
.login {
  display: none; }
  .login .login_label {
    font-size: 16px;
    color: #292929;
    margin-left: 10px;
    margin-top: 10px; }

.login_form {
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .login_form .form-control {
    width: 400px; }
    .login_form .form-control:focus {
      border-color: red; }
  .login_form .form-control::-webkit-input-placeholder {
    color: yellow;
    font-size: 20px;
    font-family: Arial; }
  .login_form .form-control::-moz-placeholder {
    color: yellow;
    font-size: 20px;
    font-family: Arial; }
  .login_form .form-control:-moz-placeholder {
    color: yellow;
    font-size: 20px;
    font-family: Arial; }
  .login_form .form-control:-ms-input-placeholder {
    color: yellow;
    font-size: 20px;
    font-family: Arial; }

.jBox-container {
  width: auto;
  height: auto;
  background: #cecece;
  padding: 10px 10px 10px 10px;
  font-family: sans; }
  .jBox-container .jBox-title {
    font-size: 16px;
    color: #292929;
    background: #cfcfcf; }
  .jBox-container .jBox-content {
    display: table;
    margin: auto;
    width: auto !important;
    height: auto !important; }

.full_screen {
  display: table;
  width: 100%; }

/*BUTTONS*/
.exit_btn {
  color: red;
  background: blue;
  font-size: 18px;
  border-color: blue; }
  .exit_btn:hover, .exit_btn:focus, .exit_btn.focus {
    color: red;
    background: #0000cc;
    border-color: #0000c2; }

.auth_btn {
  color: red;
  background: blue;
  font-size: 18px;
  border-color: blue; }
  .auth_btn:hover, .auth_btn:focus, .auth_btn.focus {
    color: red;
    background: #0000cc;
    border-color: #0000c2; }

.submit_btn {
  color: yellow;
  background: green;
  font-size: 18px;
  border-color: green;
  margin-top: 5%; }
  .submit_btn:hover, .submit_btn:focus, .submit_btn.focus {
    color: yellow;
    background: #004d00;
    border-color: #004300; }

/*FLASH MESSAGES*/
/*MESSAGE*/
.message {
  width: 1132px;
  position: absolute;
  top: 255px;
  font-size: 21px;
  margin-left: 19px;
  z-index: 101; }

.alert {
  padding: 2px; }

.message_text {
  display: table;
  margin: auto;
  text-align: center; }

.close {
  margin-top: 6px;
  margin-right: 30px; }

.close_message {
  position: absolute;
  right: -5px; }

/*MODAL*/
/*HEADER*/
/*NAVBAR*/
.navbar-default {
  background-color: green;
  border-color: yellow; }
  .navbar-default .navbar-brand {
    color: blue; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: vlack;
      background-color: purple; }
  .navbar-default .navbar-text {
    color: white; }
  .navbar-default .navbar-nav > li > a {
    color: white; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: purple;
      background-color: yellow; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: red;
    background-color: grey; }
  .navbar-default .navbar-link {
    color: white; }
    .navbar-default .navbar-link:hover {
      color: purple; }
  .navbar-default .btn-link {
    color: white; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: purple; }

/*LEFT SIDEBAR*/
.left_sidebar {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  min-height: 780px;
  box-shadow: 2px 3px 7px #757171;
  border-radius: 5px;
  padding: 15px;
  margin-right: 20px; }

/*RIGHT SIDEBAR*/
.right_sidebar {
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 260px;
  min-height: 780px;
  box-shadow: -2px 3px 7px #757171;
  border-radius: 5px;
  padding: 15px;
  margin-left: 20px; }

/*CATALOG*/
/*FOOTER*/
.copyright {
  display: block; }
  .copyright .our_link {
    float: right;
    margin-right: 5%; }
    .copyright .our_link p {
      color: red; }
    .copyright .our_link a {
      color: #9ccb49; }
      .copyright .our_link a:hover {
        color: #13b4e6;
        text-decoration: none; }
      .copyright .our_link a:active, .copyright .our_link a:focus {
        outline: none;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
